<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46663370618-p47bbvkppknu6nic6bofjlif4b9bov4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46663370618-p47bbvkppknu6nic6bofjlif4b9bov4c</string>
	<key>API_KEY</key>
	<string>AIzaSyCP_rhoBiDygCyhF-8khpn9UE51_pBqbRw</string>
	<key>GCM_SENDER_ID</key>
	<string>46663370618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ilin.TikTokApp</string>
	<key>PROJECT_ID</key>
	<string>tikapp-8ab9c</string>
	<key>STORAGE_BUCKET</key>
	<string>tikapp-8ab9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46663370618:ios:bb752cc80f9c57c46838c3</string>
</dict>
</plist>